<button
	{% if type == "primary" %} class="bg-blue-950 hover:bg-blue-900 text-white flex items-center gap-2 p-2 uppercase font-bold text-sm {{classes}}" {% endif %}
	{% if type == "secondary" %} class="bg-yellow-600 hover:bg-yellow-500 text-white flex items-center gap-2 p-2 uppercase font-bold text-sm {{classes}}" {% endif %}
onclick="{{onclick}}"
	{% if submit %} type="submit" {% endif %}
>
	{% if icon %}
		<i class="{{ icon }}"></i>
	{% endif %}
	<span>{{ title }}</span>
</button>
