{% extends 'layout/base.html.twig' %}

{% block title %}Log in
{% endblock %}

{% block main %}
	<form method="post" class="bg-white shadow-lg mx-auto w-4/12 p-4">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<h2 class="text-lg text-blue-900 font-bold text-center">Log in</h2>
		<div class="flex flex-col my-4 w-8/12 mx-auto gap-y-4">
			<div class="border border-gray-200 flex justity-start items-center p-2">
				<i class="bi bi-person-fill text-blue-900"></i>
				<input class="outline-none bg-transparent ml-2" type="text" value="{{ last_username }}" placeholder="Username" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
			</div>
			<div class="border border-gray-200 flex justity-start items-center p-2">
				<i class="bi bi-key-fill text-blue-900"></i>
				<input class="outline-none bg-transparent ml-2" type="password" placeholder="Password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<twig:Button title="Sign in" icon="bi bi-house-lock-fill" classes="justify-center"></twig:Button>
		</div>
	</form>
{% endblock %}
