{% extends 'layout/base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock %}

{% block title %}Dashboard
{% endblock %}
{% block main %}
	<twig:Section id="entities" title="Entidades">
		{% block actions %}
			{{component('Button',{
						title: 'Nueva entidad',
						type: 'primary',
						icon: 'bi bi-plus-square-fill',
						onclick: "document.querySelector('dialog#addEntityModal').showModal()"
					})}}
		{% endblock %}
		{% block content %}
			{% if entities %}
				<table class="py-2 w-full">
					<tr class="text-gray-500 uppercase text-xs font-bold">
						<th class="px-4 py-2">Id</th>
						<th class="px-4 py-2">Tipo</th>
						<th class="px-4 py-2">Nombre</th>
						<th class="px-4 py-2">Status</th>
						<th class="px-4 py-2">Url</th>
					</tr>
					{% for entity in entities %}
						<tr class="text-gray-500 text-xs text-center">
							<td class="px-4 py-2">{{entity.id}}</td>
							<td class="px-4 py-2">{{entity.type}}</td>
							<td class="px-4 py-2">{{entity.name.value}}</td>
							<td class="px-4 py-2">{{ entity.status.value == 'true' ? "<span class='inline-block bg-green-400 rounded-full h-4 w-4'></span>" : "<span class='inline-block bg-red-400 rounded-full h-4 w-4'></span>"}}</td>
							<td class="px-4 py-2">{{entity.url.value}}</td>
							<td class="px-4 py-2">
								<a class="text-red-400" href="">Eliminar</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p class="text-center text-sm p-8 text-gray-400">No hay ningún host registrado</p>
			{% endif %}
			<dialog id="addEntityModal" class="p-4 w-4/12 shadow-xl">
				<form method="dialog" class="flex flex-col">
					<button class="flex justify-end items-center gap-2 text-gray-400 hover:text-gray-500 mb-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewbox="0 0 16 16">
							<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
						</svg>
						<span>Cerrar</span>
					</button>
				</form>
				<h2 class="text-lg text-blue-950 font-bold">Registrar nueva entidad</h2>
				<hr class="my-4">
				{{ form(entity_form) }}
			</dialog>
		{% endblock %}
	</twig:Section>
	<twig:Section id="devices" title="Dispositivos">
		{% block actions %}
			{{component('Button',{
					title: 'Nuevo dispositivo',
					type: 'primary',
					icon: 'bi bi-plus-square-fill',
					onclick: "document.querySelector('dialog#addHostModal').showModal()"
				})}}
		{% endblock %}
		{% block content %}
			{% if devices %}
				<table class="py-2 w-full">
					<tr class="text-gray-500 uppercase text-xs font-bold">
						<th class="px-4 py-2">Id</th>
						<th class="px-4 py-2">Nombre</th>
						<th class="px-4 py-2">Tipo</th>
						<th class="px-4 py-2">Atributos</th>
						<th class="px-4 py-2">Acciones</th>
					</tr>
					{% for device in devices %}
						<tr class="text-gray-500 text-xs text-center">
							<td class="px-4 py-2">{{device.device_id}}</td>
							<td class="px-4 py-2">{{device.entity_name}}</td>
							<td class="px-4 py-2">{{device.entity_type}}</td>
							<td class="px-4 py-2">
								{% if not device.attributes is empty %}
									<ul>
										{% for attribute in device.attributes %}
											<li>
												<span class="text-xs bg-gray-300 text-gray-500 p-1">{{attribute.object_id}}</span>
												<span class="text-xs bg-gray-300 text-gray-500 p-1">{{attribute.name}}</span>
												<span class="text-xs bg-gray-300 text-gray-500 p-1">{{attribute.type}}</span>
											</li>
										{% endfor %}
									</ul>
								{% else %}
									<span>Vacío</span>
								{% endif %}
							</td>
							<td class="px-4 py-2">
								<a class="text-red-400" href="{{ path('fiware_device_delete', {'id' : device.device_id }) }}">Eliminar</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p class="text-center text-sm p-8 text-gray-400">No hay ningún host registrado</p>
			{% endif %}
			<dialog id="addDeviceModal" class="p-4 w-4/12 shadow-xl">
				<form method="dialog" class="flex flex-col">
					<button class="flex justify-end items-center gap-2 text-gray-400 hover:text-gray-500 mb-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewbox="0 0 16 16">
							<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
						</svg>
						<span>Cerrar</span>
					</button>
				</form>
				<h2 class="text-lg text-blue-950 font-bold">Registrar nuevo dispositivo</h2>
				<hr class="my-4">
				{{form(device_form)}}
				</dialog>
			{% endblock %}
		</twig:Section>
		<twig:Section id="services" title="Servicios">
			{% block actions %}
				{{component('Button',{
						title: 'Nuevo servicio',
						type: 'primary',
						icon: 'bi bi-plus-square-fill',
						onclick: "document.querySelector('dialog#addServiceModal').showModal()"
					})}}
			{% endblock %}
			{% block content %}
				{% if services %}
					<table class="py-2 w-full">
						<tr class="text-gray-500 uppercase text-xs font-bold">
							<th class="px-4 py-2">API Key</th>
							<th class="px-4 py-2">Recurso</th>
							<th class="px-4 py-2">Acciones</th>
						</tr>
						{% for service in services %}
							<tr class="text-gray-500 text-xs text-center">
								<td class="px-4 py-2">{{service.apikey}}</td>
								<td class="px-4 py-2">{{service.resource}}</td>
								<td class="px-4 py-2">
									<a class="text-red-400" href="{{ path('fiware_service_delete', {'apikey' : service.apikey }) }}">Eliminar</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<p class="text-center text-sm p-8 text-gray-400">No hay ningún grupo registrado</p>
				{% endif %}
				<dialog id="addServiceModal" class="p-4 w-4/12 shadow-xl">
					<form method="dialog" class="flex flex-col">
						<button class="flex justify-end items-center gap-2 text-gray-400 hover:text-gray-500 mb-4">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewbox="0 0 16 16">
								<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
							</svg>
							<span>Cerrar</span>
						</button>
					</form>
					<h2 class="text-lg text-blue-950 font-bold">Registrar nuevo servicio</h2>
					<hr class="my-4">
					{{ form(service_form) }}
					</dialog>
				{% endblock %}
			</twig:Section>
		{% endblock %}
